.cardstyle
{
    width: 480px;
}

.Headingstyle
{
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 66px;
    /* identical to box height */
    color: #FFBC47;
    margin-bottom: 20px;
    
}

.Contentstyle
{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    
    color: #96876E;
    
}